DATABASE_URL=postgresql://user:password@localhost:5432/myccmetrics
PORT=8080
FRONTEND_URL=http://localhost:3000
APP_URL=http://localhost:8080
CC_OAUTH_CONSUMER_KEY=
CC_OAUTH_CONSUMER_SECRET=
ENCRYPTION_KEY=  # Generate with: openssl rand -base64 32
WARP10_ENDPOINT=https://c2-warp10-clevercloud-customers.services.clever-cloud.com/api/v0/exec
CC_API_BASE_URL=https://api.clever-cloud.com
RUST_LOG=debug
